/.DS_Store
/all.css
/fa-duotone-900
/fa-duotone-900.json
/fa-duotone-900.ttf
/fa-duotone-combined-900
/fa-duotone-combined-900.json
/fa-light-300
/fa-light-300.json
/fa-light-300.ttf
/fa-regular-400
/fa-regular-400.json
/fa-regular-400.ttf
/fa-solid-900
/fa-solid-900.json
/fa-solid-900.ttf
/fa-thin-100
/library
/fa-thin-100.json
/fa-thin-100.ttf
/icons.json
/backup-2024-08-09-11-22-48
/__pycache__
/backups