/.DS_Store
/all.css
/fa-duotone-900
/fa-duotone-900.json
/fa-duotone-900.ttf
/fa-duotone-combined-900
/fa-duotone-combined-900.json
/fa-light-300
/fa-light-300.json
/fa-light-300.ttf
/fa-regular-400
/fa-regular-400.json
/fa-regular-400.ttf
/fa-solid-900
/fa-solid-900.json
/fa-solid-900.ttf
/fa-thin-100
/fa-sharp-solid-900
/fa-sharp-solid-900.json
/fa-sharp-solid-900.ttf
/fa-sharp-regular-400
/fa-sharp-regular-400.json
/fa-sharp-regular-400.ttf
/fa-sharp-light-300
/fa-sharp-light-300.json
/fa-sharp-light-300.ttf
/fa-sharp-duotone-900
/fa-sharp-duotone-900.json
/fa-sharp-duotone-900.ttf
/fa-sharp-thin-100
/fa-sharp-thin-100.json
/fa-sharp-thin-100.ttf
/library
/installer.json
/fa-thin-100.json
/fa-thin-100.ttf
/icons.json
/__pycache__
/backups
